<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Stride Local Dev" value="%LocalAppData%\Stride\NugetDev" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="MSBuildSdkExtras CI Builds" value="https://pkgs.dev.azure.com/clairernovotny/GitBuilds/_packaging/MSBuildSdkExtras@Local/nuget/v3/index.json"/>
	</packageSources>
</configuration>
